/* GENERAL */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

/* =================== HEADER =================== */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background: white;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    font-size: 26px;
}

.logo-text {
    font-size: 20px;
    font-weight: bold;
}

.nav {
    display: flex;
    gap: 25px;
}

.nav a {
    text-decoration: none;
    color: #444;
    font-size: 16px;
    padding: 8px 10px;
    border-radius: 6px;
}

.nav a.active,
.nav a:hover {
    background: #e3e3e3;
}

.header-icons {
    display: flex;
    gap: 20px;
}

.icon {
    font-size: 22px;
    cursor: pointer;
}

.side-menu-row {
    display: flex;
    align-items: center;
    gap: 8px;
}


.menu-icon {
    width: 26px;
    height: 26px;
    fill: #333;
    cursor: pointer;
}

.menu-icon:hover {
    fill: #000;
}

/* ================== MOBILE MENU ================== */

.mobile-menu {
    position: fixed;
    top: 0;
    left: -260px;              
    width: 200px;
    height: 100vh;
    background: white;
    padding: 20px;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: left 0.3s ease;
    z-index: 9999;
}

.mobile-menu.show {
    left: 0;                 
}

.mobile-menu a {
    padding: 12px 0;
    text-decoration: none;
    font-size: 18px;
    color: #333;
}

.mobile-menu .menu-item {
    text-decoration: none;
    padding: 12px 0;
    color: #555;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 0.3s ease;
}

.mobile-menu .menu-item:hover {
    color: #000;
}

.mobile-menu .menu-item.active {
    color: #0066ff;
    font-weight: 600;
}

.side-menu-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    z-index: 10000;           
}

/* ====== Header Responsive ====== */
@media (max-width: 768px) {
    .nav,
    .header-icons {
        display: none;
    }

    .hamburger {
        display: block;
    }
       .mobile-menu {
        position: fixed;
        top: 0;
        left: -300px;
        height: 100vh;
        background: #fff;
        padding-top: 50px;
        transition: left 0.3s ease;
    }

}
