/* GENERAL */
:root {
    --primary-color: #007bff;
    --secondary-color: #616D89;
    --success: #40C057;
    --info: #2F8BE6;
    --warning: #f0ad4e;
    --danger: #F55252;
    --light: #DBDEE5;
    --dark: #1A051D;
    --white: #fff;
    --gray: #6c757d;
    --light-blue: #87F7FF;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

.logo {
    font-size: 32px;
    letter-spacing: 0.5px;
    margin: 0;
    text-transform:capitalize !important
}

.logo-career {
    font-weight: 700;
    color: #14213d;
}

.logo-bridge {
    font-weight: 600;
    color: #635dfd;
}


/* =================== HEADER =================== */

.header {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    gap: 60px;
    background: var(--white);
    border-bottom: 1px solid #ddd;
    position: relative;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-logo a{
    text-decoration: none;
}

.nav {
    display: flex;
    gap: 25px;
}

.nav a {
    text-decoration: none;
    color: #444;
    font-size: 16px;
    padding: 8px 10px;
    border-radius: 6px;
}

.nav a.active,
.nav a:hover {
    background: #e3e3e3;
}

.header-icons {
    margin-left: auto;
    display: flex;
    gap: 20px;
}

.icon {
    font-size: 22px;
    cursor: pointer;
}

.side-menu-row {
    display: flex;
    align-items: center;
    gap: 8px;
}


.menu-icon {
    width: 26px;
    height: 26px;
    fill: #333;
    cursor: pointer;
}

.menu-icon:hover {
    fill: var(--dark);
}

/* ================== MOBILE MENU ================== */

.mobile-menu {
    position: fixed;
    top: 0;
    left: -260px;
    width: 200px;
    height: 100vh;
    background: var(--white);
    padding: 20px;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: left 0.3s ease;
    z-index: 9999;
}

.mobile-menu.show {
    left: 0;
}

.mobile-menu a {
    padding: 12px 0;
    text-decoration: none;
    font-size: 18px;
    color: #333;
}

.mobile-menu .menu-item {
    text-decoration: none;
    padding: 12px 0;
    color: #555;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 0.3s ease;
}

.mobile-menu .menu-item:hover {
    color: #000;
}

.mobile-menu .menu-item.active {
    color: var(--primary-color);
    font-weight: 600;
}

.side-menu-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    z-index: 10000;
    margin-left: auto;
}

.buttn {
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
}

.buttn-outline {
    border: 1px solid var(--primary-color);
    background: var(--white);
    color: var(--primary-color);
}

.buttn-outline:hover {
    background: var(--primary-color);
    color: var(--white);
}

.buttn-sign-in {
    border: none;
    background: var(--primary-color);
    color: var(--white);
}

.buttn-sign-in:hover {
    background: #005bb5;
}

.denied-container{
    display: flex;
    padding: 20px;
    background: #f8d7da;
    justify-content: center;
    height: 100vh;
}
.denied-box {
    height: fit-content;
    width: 400px;
    margin: 60px auto;
    padding: 25px;
    background: var(--white);
    border-left: 8px solid var(--danger);
    border-radius: 5px;
}

.denied-box h2 {
    color: var(--danger);
}

/* ====== Header Responsive ====== */
@media (max-width: 768px) {

    .nav,
    .header-icons {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .mobile-menu {
        position: fixed;
        top: 0;
        left: -300px;
        height: 100vh;
        background: var(--white);
        padding-top: 50px;
        transition: left 0.3s ease;
    }

}
