/* banner */
.home-banner {
    background: url('../images/banner.jpg') center/cover no-repeat;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    color: var(--white);
}

.banner-content h1 {
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 10px;
}

.banner-content p {
    font-size: 18px;
    margin-bottom: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* search bar */
.search-bar {
    width: 70%;
    max-width: 650px;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
}

.search-bar input {
    width: 80%;
    padding: 12px;
    border: none;
    font-size: 16px;
    outline: none;
}

.search-bar button {
    width: 20%;
    padding: 12px;
    background: var(--primary-color);
    color: var(--white);
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.search-bar button:hover {
    background: #025aa5;
}

/* categories */
.job-categories {
    padding: 40px 20px;
    text-align: center;
}

.job-categories h2 {
    font-size: 26px;
    margin-bottom: 20px;
}

.category-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 18px;
    padding: 0 30px;
}

.category-list a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.category-card {
  background: var(--white);
  border-radius: 14px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.category-card img {
  width: 55px;
  height: 55px;
  margin-bottom: 12px;
}

.category-card h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #14213d;
}

.category-card p {
  font-size: 14px;
  color: #6c757d;
}

.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.12);
  background: var(--light);
}

/** responsive **/
@media(max-width: 768px) {
    .home-banner {
        min-height: 320px;
        padding: 30px 10px;
    }

    .banner-content h1 {
        font-size: 30px;
    }

    .banner-content p {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .search-bar {
        flex-direction: column;
        width: 90%;
    }

    .search-bar input,
    .search-bar button {
        width: 100%;
        font-size: 15px;
        padding: 12px;
    }

    .search-bar button {
        margin-top: 5px;
        border-radius: 6px;
    }

    .job-categories h2 {
        font-size: 22px;
    }
}


@media(max-width: 480px) {
    .banner-content h1 {
        font-size: 24px;
    }

    .banner-content p {
        font-size: 14px;
    }

    .category-card {
        font-size: 14px;
        padding: 15px;
    }
}